@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
h1{
    color:rgb(71, 121, 221)
}

body{
    line-height: 1.6;
}
h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#Search-input{
    width: 40%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(237, 107, 107, 0.781);
    border-radius: 10px;
    font-size: 18px;
    color: rgba(130, 11, 199, 0.648);
}
#search-button{
    width: 50%;
    max-width: 70px;
    padding: 5px 10px;
    background-color: rgba(183, 231, 192, 0.853);
    color: rgba(145, 13, 246, 0.699);
    border: none;
    font-size: 15px;
    box-shadow: 0 0 6px rgba(5, 238, 161, 0.84);
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result1{
    margin-bottom: 60px;
    width: 30%;
    height:100%;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(237, 107, 107, 0.781);
    overflow: hidden;
}
.search-result2{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(237, 107, 107, 0.781);
    overflow: hidden;
}
.search-result3{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(237, 107, 107, 0.781);
    overflow: hidden;
}
.search-result1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
.search-result2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
.search-result3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
.search-result1:hover img{
    opacity: 0.6;
}
.search-result2:hover img{
    opacity: 0.6;
}
.search-result3:hover img{
    opacity: 0.6;
}
.search-result1 a{
    font-size: 20px;
    text-decoration: none;
    color: #e64646;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}
.search-result2 a{
    font-size: 20px;
    text-decoration: none;
    color: #e64646;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}
.search-result3 a{
    font-size: 20px;
    text-decoration: none;
    color: #e64646;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}
#Show-more-button{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:768px) {
.search-results{
    padding: 20px;
}
    .search-result1{
        width: 45%;
    }
    .search-result2{
        width: 45%;
    }
    .search-result3{
        width: 45%;
    }
}
@media screen and (max-width:768px) {
    .search-result1{
        width: 100%;
    }
    .search-result2{
        width: 100%;
    }
    .search-result3{
        width: 100%;
    }
}
